.about_me {
    .about_me_inner {
        margin-top: 450px;
        position: relative;
        display: flex;
        justify-content: end;
    }

    .about_me_content {
        width: 50%;

        .title {
            font-family: Volkhov;
            font-style: normal;
            font-weight: bold;
            font-size: $font-med;
            line-height: 60px;
            letter-spacing: -0.04em;
            color: $darkBrown;
        }

        .description{
            color: $darkBrown;
            font-size: $font-sm;
            margin-top: 30px;
        }

        .btn_portfolio {
            color: $pink;
            border: 2px solid $pink;
            margin-top: 30px;
        }
    }

    img.character_sit {
        width: 620px;
        position: absolute;
        top: -50px;
        left: -20px;
    }

    .small_cloud{
        position: absolute;
        top: 0;
        left: -230px;
    }

    .big_cloud {
        position: absolute;
        top: -400px;
        left: 100px;

        img { max-width: 400px;}
    }

    .cloud_container {
        position: relative;
        img{
            position: absolute;
        }
        img.shadow { opacity: 0.75 }
    }

}
@media (max-width: 768px) {
    .about_me {
        .big_cloud {
            position: absolute;
            top: -80px;
            left: unset;
            right: 144px;

            img { max-width: 140px;}
        }
        .small_cloud { display: none;}

        .about_me_inner {
            margin-top: 80px;
            flex-direction: column;
            padding: 0 10%;

            .about_me_content {
                width: 100%;

                .title{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                }
                .description {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 320px;
                }
                .btn_portfolio { display: none;}
            }

            .character_sit {
                width: 80%;
                top: 140px;
                left: 10%;
            }
        }
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .about_me {
        .about_me_inner {
            .title{
                max-width: 80%;
                margin:auto;
                text-align: center;
            }
            .character_sit {
                width: 40%;
                top: 100px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1070px){
    .about_me {
        .about_me_inner {
            .character_sit {
                width: 55%;
                top:50px;
            }
        }
    }
}
@media (min-width: 400px) and (max-width: 599px){
    .about_me {
        .about_me_inner {

            .about_me_content .title{
                text-align: center;
                font-size: 18px;
            }
            .about_me_content .description{
                margin-top: 295px;
            }
            .character_sit {
                width: 50%;
                top:100px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
@media (min-width: 400px) and (max-width: 490px){
    .about_me .about_me_inner .character_sit {
        width: 62%;
    }
}
.transitApper .description{
    transform: translateX(50%);
    transition: 2.5s;
}
.transitApper[data-scroll="in"] .description { transform: translateX(0)!important; }
.transitApper.title {
    @media screen and (max-width: 768px) {
        transform: translateX(-70%);
    }
}